<h1>Star wars people</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!people"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of people">
      <td>{{ p.name }}</td>
      <td>{{ p.height }}</td>
      <td>{{ p.mass }}</td>
      <td>{{ p.hair_color }}</td>
    </tr>
  </tbody>
</table>
